@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to your #1 Online Spaza</h1>
    <p>Shop for food, furniture, clothes and accessories name it and we got it!.</p>
</div>

